USE [Projeto_CinemaDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 17/02/2020 23:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMovies]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMovies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DebutDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Duration] [time](7) NOT NULL,
	[AnimationType] [int] NOT NULL,
	[TypeAudio] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TbMovies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbMovieTheaters]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbMovieTheaters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TbMovieTheaters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSeats]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSeats](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[MovieTheater_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.TbSeats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSessions]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSessions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DateInitial] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Hour] [datetime] NOT NULL,
	[MovieId] [bigint] NOT NULL,
	[MovieTheaterId] [bigint] NOT NULL,
	[Duration] [time](7) NOT NULL,
	[AnimationType] [int] NOT NULL,
	[TypeAudio] [int] NOT NULL,
	[ValueOfSeats] [float] NOT NULL,
 CONSTRAINT [PK_dbo.TbSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSnacks]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSnacks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_dbo.TbSnacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbTickets]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbTickets](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NULL,
	[MovieId] [bigint] NULL,
	[MovieTheaterId] [bigint] NULL,
	[SessionId] [bigint] NULL,
	[DateBuy] [datetime] NOT NULL,
	[Value] [float] NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TbTickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUsers]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUsers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[AccessLevel] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo.TbUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketSnacks]    Script Date: 17/02/2020 23:36:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketSnacks](
	[TickeId] [bigint] NOT NULL,
	[SnackId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.TicketSnacks] PRIMARY KEY CLUSTERED 
(
	[TickeId] ASC,
	[SnackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TbMovies] ON 

INSERT [dbo].[TbMovies] ([Id], [Image], [Title], [Description], [DebutDate], [EndDate], [Duration], [AnimationType], [TypeAudio]) VALUES (1, N'https://i.ytimg.com/vi/FOabQZHT4qY/maxresdefault.jpg', N'avengers', N'Homem de Ferro, Thor, Hulk e os Vingadores se unem para combater seu inimigo mais poderoso, o maligno Thanos. Em uma missão para coletar todas as seis pedras infinitas, Thanos planeja usá-las para infligir sua vontade maléfica sobre a realidade.', CAST(N'2020-02-14T03:30:00.000' AS DateTime), CAST(N'2020-02-19T03:30:00.000' AS DateTime), CAST(N'03:30:00' AS Time), 1, 1)
SET IDENTITY_INSERT [dbo].[TbMovies] OFF
SET IDENTITY_INSERT [dbo].[TbMovieTheaters] ON 

INSERT [dbo].[TbMovieTheaters] ([Id], [Name]) VALUES (1, N'sala 01')
SET IDENTITY_INSERT [dbo].[TbMovieTheaters] OFF
SET IDENTITY_INSERT [dbo].[TbSeats] ON 

INSERT [dbo].[TbSeats] ([Id], [Number], [IsAvailable], [MovieTheater_Id]) VALUES (1, 0, 0, 1)
INSERT [dbo].[TbSeats] ([Id], [Number], [IsAvailable], [MovieTheater_Id]) VALUES (2, 1, 0, 1)
INSERT [dbo].[TbSeats] ([Id], [Number], [IsAvailable], [MovieTheater_Id]) VALUES (3, 2, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[TbSeats] OFF
SET IDENTITY_INSERT [dbo].[TbSessions] ON 

INSERT [dbo].[TbSessions] ([Id], [DateInitial], [EndDate], [Hour], [MovieId], [MovieTheaterId], [Duration], [AnimationType], [TypeAudio], [ValueOfSeats]) VALUES (2, CAST(N'2020-02-14T03:30:00.000' AS DateTime), CAST(N'2020-02-19T03:30:00.000' AS DateTime), CAST(N'2020-02-17T03:30:00.000' AS DateTime), 1, 1, CAST(N'03:30:00' AS Time), 1, 1, 10)
SET IDENTITY_INSERT [dbo].[TbSessions] OFF
SET IDENTITY_INSERT [dbo].[TbSnacks] ON 

INSERT [dbo].[TbSnacks] ([Id], [Name], [Image], [Price], [Quantity]) VALUES (1, N'coca cola', N'https://www.drogariaminasbrasil.com.br/media/product/619/refrigerante-coca-cola-pet-2l-927.jpg', 6, 0)
INSERT [dbo].[TbSnacks] ([Id], [Name], [Image], [Price], [Quantity]) VALUES (2, N'pipoca', N'https://images.tcdn.com.br/img/img_prod/341142/caixa_embalagem_para_pipoca_pequena_varias_cores_1000_unidades_293_1_20190507151344.jpg', 10, 0)
INSERT [dbo].[TbSnacks] ([Id], [Name], [Image], [Price], [Quantity]) VALUES (3, N'pipoca grande', N'https://images.tcdn.com.br/img/img_prod/341142/caixa_embalagem_para_pipoca_pequena_varias_cores_1000_unidades_293_1_20190507151344.jpg', 15, 0)
SET IDENTITY_INSERT [dbo].[TbSnacks] OFF
SET IDENTITY_INSERT [dbo].[TbTickets] ON 

INSERT [dbo].[TbTickets] ([Id], [UserId], [MovieId], [MovieTheaterId], [SessionId], [DateBuy], [Value], [IsConfirmed]) VALUES (4, 1, 1, 1, 2, CAST(N'2020-02-17T21:44:49.973' AS DateTime), 26, 0)
INSERT [dbo].[TbTickets] ([Id], [UserId], [MovieId], [MovieTheaterId], [SessionId], [DateBuy], [Value], [IsConfirmed]) VALUES (5, 1, 1, 1, 2, CAST(N'2020-02-17T21:46:03.690' AS DateTime), 26, 0)
INSERT [dbo].[TbTickets] ([Id], [UserId], [MovieId], [MovieTheaterId], [SessionId], [DateBuy], [Value], [IsConfirmed]) VALUES (6, 1, 1, 1, 2, CAST(N'2020-02-17T21:49:18.660' AS DateTime), 26, 0)
SET IDENTITY_INSERT [dbo].[TbTickets] OFF
SET IDENTITY_INSERT [dbo].[TbUsers] ON 

INSERT [dbo].[TbUsers] ([Id], [Name], [Email], [Password], [AccessLevel]) VALUES (1, N'fabricio', N'fabricio.riff2@gmail.com', N'e10adc3949ba59abbe56e057f20f883e', 0)
INSERT [dbo].[TbUsers] ([Id], [Name], [Email], [Password], [AccessLevel]) VALUES (2, N'printWay', N'printWay@printWay.com', N'e10adc3949ba59abbe56e057f20f883e', 3)
SET IDENTITY_INSERT [dbo].[TbUsers] OFF
INSERT [dbo].[TicketSnacks] ([TickeId], [SnackId]) VALUES (4, 1)
INSERT [dbo].[TicketSnacks] ([TickeId], [SnackId]) VALUES (5, 1)
INSERT [dbo].[TicketSnacks] ([TickeId], [SnackId]) VALUES (6, 1)
ALTER TABLE [dbo].[TbSeats]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbSeats_dbo.TbMovieTheaters_MovieTheater_Id] FOREIGN KEY([MovieTheater_Id])
REFERENCES [dbo].[TbMovieTheaters] ([Id])
GO
ALTER TABLE [dbo].[TbSeats] CHECK CONSTRAINT [FK_dbo.TbSeats_dbo.TbMovieTheaters_MovieTheater_Id]
GO
ALTER TABLE [dbo].[TbSessions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbSessions_dbo.TbMovies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[TbMovies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TbSessions] CHECK CONSTRAINT [FK_dbo.TbSessions_dbo.TbMovies_MovieId]
GO
ALTER TABLE [dbo].[TbSessions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbSessions_dbo.TbMovieTheaters_MovieTheaterId] FOREIGN KEY([MovieTheaterId])
REFERENCES [dbo].[TbMovieTheaters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TbSessions] CHECK CONSTRAINT [FK_dbo.TbSessions_dbo.TbMovieTheaters_MovieTheaterId]
GO
ALTER TABLE [dbo].[TbTickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbTickets_dbo.TbMovies_MovieId] FOREIGN KEY([MovieId])
REFERENCES [dbo].[TbMovies] ([Id])
GO
ALTER TABLE [dbo].[TbTickets] CHECK CONSTRAINT [FK_dbo.TbTickets_dbo.TbMovies_MovieId]
GO
ALTER TABLE [dbo].[TbTickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbTickets_dbo.TbMovieTheaters_MovieTheaterId] FOREIGN KEY([MovieTheaterId])
REFERENCES [dbo].[TbMovieTheaters] ([Id])
GO
ALTER TABLE [dbo].[TbTickets] CHECK CONSTRAINT [FK_dbo.TbTickets_dbo.TbMovieTheaters_MovieTheaterId]
GO
ALTER TABLE [dbo].[TbTickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbTickets_dbo.TbSessions_SessionId] FOREIGN KEY([SessionId])
REFERENCES [dbo].[TbSessions] ([Id])
GO
ALTER TABLE [dbo].[TbTickets] CHECK CONSTRAINT [FK_dbo.TbTickets_dbo.TbSessions_SessionId]
GO
ALTER TABLE [dbo].[TbTickets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TbTickets_dbo.TbUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[TbUsers] ([Id])
GO
ALTER TABLE [dbo].[TbTickets] CHECK CONSTRAINT [FK_dbo.TbTickets_dbo.TbUsers_UserId]
GO
ALTER TABLE [dbo].[TicketSnacks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TicketSnacks_dbo.TbSnacks_SnackId] FOREIGN KEY([SnackId])
REFERENCES [dbo].[TbSnacks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketSnacks] CHECK CONSTRAINT [FK_dbo.TicketSnacks_dbo.TbSnacks_SnackId]
GO
ALTER TABLE [dbo].[TicketSnacks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TicketSnacks_dbo.TbTickets_TickeId] FOREIGN KEY([TickeId])
REFERENCES [dbo].[TbTickets] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketSnacks] CHECK CONSTRAINT [FK_dbo.TicketSnacks_dbo.TbTickets_TickeId]
GO
